:root{
    --dark-cyan: hsl(158, 36%, 37%) ;
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%) ;
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
p{
    font-size: 14px;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--cream);
    height: 100vh;
    margin: 0;
}
.wrapper{
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    display: flex;
    height: 500px;
}
.product-desc{
    background-color: var(--white);
    
    height: 500px;
    width: 300px;
}
.content{
    margin-left: 50px;
}
.category{
    margin-top: 50px;
    letter-spacing: 5px;
}

.perfume{
    border-radius: 5px;
}
.title{
    margin-top: 20px;
    font-family: 'Fraunces', serif;
    margin-right: 10px;
}
.text{
    justify-content: center;
    margin-right: 10px;
}
.price-wrapper{
    display: flex;
    align-items: center;
}
.price{
    margin-top: 10px;
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    
    
}
.markdown{
    margin-left: 20px;
    margin-top: 0px;
    text-decoration: line-through;
    font-family: 'Fraunces', serif;
}
.button-wrapper{
    margin-top: 10px;
    
}

.buy{
    width: 90%;
    height: 50px;
    background-color: var(--dark-cyan);
    border-radius: 5px;
    border: 1px solid var(--very-dark-blue);
    
}

.cart, span{
    color: var(--white);
    vertical-align: middle;
    display: inline-block;
}
span{
    margin-left: 5px;
}
.buy:hover{
    cursor: pointer;
}
